
<div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box">
        <div class="f1">
            <h4>Hier sind die Tipps von "{{ user.name }}"</h4>
            <p style="font-size:10px;">Willst du eine Übersicht aller Antworten zu einer Frage, dann klicke diese einfach.</p>
        </div>
    </div>
</div>  

<div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box" >        
        <div class="f1 row">
            {% for answer in answers %}
                <div class="col-xs-12 col-md-12">
                    <a href="{{ path('questionDetail', {'questionId': answer.question.id}) }}">{{answer.question.question}}</a> 
                </div>
                <div class="row" style="border-bottom: 1px #eee solid">
                    <div class="col-xs-12 col-md-8">
                        <input class="form-control" id="disabledInput" type="text" placeholder="{{ answer.answer }}" disabled><br>
                    </div>
                    <div class="col-xs-12 col-md-4">
                        {% if(answer.answer == answer.question.correctAnswer) %}
                            <i class="fa fa-check" aria-hidden="true"></i>
                        {% elseif(answer.question.correctAnswer == null) %}
                            <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                        {% else %}
                            <i class="fa fa-times" aria-hidden="true"></i>
                        {% endif %}                    
                    </div>
                </div>
                
            {% endfor %}                
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box" >        
        <div class="f1">
            {% for bet in bets %}
                <div class="row">
                    <div class="col-xs-12 col-md-4">
                        <p>{{ bet.game.hometeam.name|e }}<p>
                    </div>
                    <div class="col-xs-12 col-md-1">
                        <input type="text" class="form-control" maxlength="2" id="disabledInput" placeholder="{{ bet.homeTeamScore }}" disabled>
                    </div>
                    <div class="col-xs-12 col-md-1 text-center"> : </div>
                    <div class="col-xs-12 col-md-1">
                        <input type="text" class="form-control" maxlength="2" id="disabledInput" placeholder="{{ bet.guestTeamScore }}" disabled>                    
                    </div>     
                    <div class="col-xs-12 col-md-1"></div>
                    <div class="col-xs-12 col-md-4">
                        <p>{{ bet.game.guestteam.name|e }} <p>
                    </div>                            
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-2">
                    </div>
                    <div class="col-md-8">
                        <a href="{{ path('gameDetail', { 'gameId': bet.game.id }) }}">Tippübersicht zu diesem Spiel</a>
                    </div>
                    <div class="col-xs-12 col-md-2">
                    </div>        
                </div>
                    {% if((bet.game.homeTeamScore is null) or (bet.game.guestTeamScore is null)) %}    
                        <i class="fa fa-question-circle-o" aria-hidden="true"></i>
                    {% elseif(bet.homeTeamScore == bet.game.homeTeamScore) and (bet.guestTeamScore == bet.game.guestTeamScore) %}
                        <i class="fa fa-check" aria-hidden="true"></i>
                    {% elseif(bet.homeTeamScore > bet.guestTeamScore) and (bet.game.homeTeamScore > bet.game.guestTeamScore) %}
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>                                    
                    {% elseif(bet.homeTeamScore < bet.guestTeamScore) and (bet.game.homeTeamScore < bet.game.guestTeamScore) %}
                        <i class="fa fa-star-half-o" aria-hidden="true"></i>                                   
                    {% elseif(bet.homeTeamScore == bet.guestTeamScore) and (bet.game.homeTeamScore == bet.game.guestTeamScore) %}
                       <i class="fa fa-star-half-o" aria-hidden="true"></i>                           
                    {% else %}
                        <i class="fa fa-times" aria-hidden="true"></i>
                    {% endif %}                    
                <hr>
            {% endfor %}              
        </div>
    </div>
</div>




