{% extends 'base.html.twig' %}

{% block body %}


    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box">
            <form role="form" action="bet" method="post" class="f1"> 
                <input type="hidden" name="gameInitalIndex" id="inputQuestionInitalIndex" value="{{ games[0].id|e }}">
                <input type="hidden" name="gameCount" id="inputQuestionCount" value="{{ games|length }}"> 

                <fieldset>
                    <h4>Wie schlägt sich der Weltmeister</h4>
                    <p style="font-size:10px;">(richtiges Ergebnis = 5 Punkte / richtige Tendenz = 2 Punkte)</p>
                    {% for game in natiGames %}
                        <div class="row">
                            <span style="color: #000000;font-size: 10px;">{{ game.matchDate|date('Y-m-d') }}</span>
                        </div>                                                
                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <p>{{ game.hometeam.name|e }}<p>
                            </div>
                            <div class="col-xs-12 col-md-1">
                                <input type="text" name="betHometeamScore{{ game.id|e }}" class="form-control custom" maxlength="2" id="exampleInputGame{{ game.id|e }}" placeholder="Tore">
                            </div>
                            <div class="col-xs-12 col-md-1 text-center"> : </div>
                            <div class="col-xs-12 col-md-1">
                                <input type="text" name="betGuestteamScore{{ game.id|e }}" class="form-control" maxlength="2" id="exampleInputGame{{ game.id|e }}" placeholder="Tore">                    
                            </div>     
                            <div class="col-xs-12 col-md-1"></div>
                            <div class="col-xs-12 col-md-4">
                                <p>{{ game.guestteam.name|e }} <p>
                            </div>                            

                            <input type="hidden" name="gameId{{ game.id|e }}" id="inputQuestionId" value="{{ game.id|e }}">
                        </div>
                        <hr>
                    {% endfor %}  
                    <div class="f1-buttons">
                        <button type="button" class="btn btn-previous">Zurück</button>
                        <button type="button" class="btn btn-next">Weiter</button>
                    </div>                    
                </fieldset> 

                <fieldset>
                    <h4>Durchmarsch der Bayern</h4>
                    <p style="font-size:10px;">(richtiges Ergebnis = 5 Punkte / richtige Tendenz = 2 Punkte)</p>
                    {% for game in bayernGames %}
                        <div class="row">
                            <span style="color: #000000;font-size: 10px;">{{ game.matchDay }}. Spieltag</span>
                        </div>                                                
                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <p>{{ game.hometeam.name|e }}<p>
                            </div>
                            <div class="col-xs-12 col-md-1">
                                <input type="text" name="betHometeamScore{{ game.id|e }}" class="form-control" maxlength="2" id="exampleInputGame{{ game.id|e }}" placeholder="Tore">
                            </div>
                            <div class="col-xs-12 col-md-1 text-center"> : </div>
                            <div class="col-xs-12 col-md-1">
                                <input type="text" name="betGuestteamScore{{ game.id|e }}" class="form-control" maxlength="2" id="exampleInputGame{{ game.id|e }}" placeholder="Tore">                    
                            </div>     
                            <div class="col-xs-12 col-md-1"></div>
                            <div class="col-xs-12 col-md-4">
                                <p>{{ game.guestteam.name|e }} <p>
                            </div>                            

                            <input type="hidden" name="gameId{{ game.id|e }}" id="inputQuestionId" value="{{ game.id|e }}">
                        </div>
                        <hr>
                    {% endfor %}  
                    <div class="f1-buttons">
                        <button type="button" class="btn btn-previous">Zurück</button>
                        <button type="button" class="btn btn-next">Weiter</button>
                    </div>                    
                </fieldset>  

                <fieldset>
                    <h4>Auch Minderheiten wollen berücksichtigt werden</h4>
                    <p style="font-size:10px;">(richtiges Ergebnis = 5 Punkte / richtige Tendenz = 2 Punkte)</p>
                    {% for game in sechzigGames %}
                        <div class="row">
                            <span style="color: #000000;font-size: 10px;">{{ game.matchDay }}. Spieltag</span>
                        </div>                        
                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <p>{{ game.hometeam.name|e }}<p>
                            </div>
                            <div class="col-xs-12 col-md-1">
                                <input type="text" name="betHometeamScore{{ game.id|e }}" class="form-control" maxlength="2" id="exampleInputGame{{ game.id|e }}" placeholder="Tore">
                            </div>
                            <div class="col-xs-12 col-md-1 text-center"> : </div>
                            <div class="col-xs-12 col-md-1">
                                <input type="text" name="betGuestteamScore{{ game.id|e }}" class="form-control" maxlength="2" id="exampleInputGame{{ game.id|e }}" placeholder="Tore">                    
                            </div>     
                            <div class="col-xs-12 col-md-1"></div>
                            <div class="col-xs-12 col-md-4">
                                <p>{{ game.guestteam.name|e }} <p>
                            </div>                            

                            <input type="hidden" name="gameId{{ game.id|e }}" id="inputQuestionId" value="{{ game.id|e }}">
                        </div>
                        <hr>
                    {% endfor %}  
                    <div class="f1-buttons">
                        <button type="button" class="btn btn-previous">Zurück</button>
                        <button type="button" class="btn btn-next">Weiter</button>
                    </div>                    
                </fieldset>                    

                <fieldset>
                    <h4>Wird der Aicher Sportpark zur Festung?</h4>
                    <p style="font-size:10px;">(richtiges Ergebnis = 5 Punkte / richtige Tendenz = 2 Punkte)</p>
                    {% for game in aichIGames %}
                        <div class="row">
                            <span style="color: #000000;font-size: 10px;">{{ game.matchDate|date('Y-m-d') }}</span>
                        </div>                        
                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <p>{{ game.hometeam.name|e }}<p>
                            </div>
                            <div class="col-xs-12 col-md-1">
                                <input type="text" name="betHometeamScore{{ game.id|e }}" class="form-control" maxlength="2" id="exampleInputGame{{ game.id|e }}" placeholder="Tore">
                            </div>
                            <div class="col-xs-12 col-md-1 text-center"> : </div>
                            <div class="col-xs-12 col-md-1">
                                <input type="text" name="betGuestteamScore{{ game.id|e }}" class="form-control" maxlength="2" id="exampleInputGame{{ game.id|e }}" placeholder="Tore">                    
                            </div>     
                            <div class="col-xs-12 col-md-1"></div>
                            <div class="col-xs-12 col-md-4">
                                <p>{{ game.guestteam.name|e }} <p>
                            </div>                            

                            <input type="hidden" name="gameId{{ game.id|e }}" id="inputQuestionId" value="{{ game.id|e }}">
                        </div>
                        <hr>
                    {% endfor %}  
                    <div class="f1-buttons">
                        <button type="button" class="btn btn-previous">Zurück</button>
                        <button type="button" class="btn btn-next">Weiter</button>
                    </div>                    
                </fieldset> 

                <fieldset>
                    <h4>Heimspiele der Oacher Zwoaten</h4>
                    <p style="font-size:10px;">(richtiges Ergebnis = 5 Punkte / richtige Tendenz = 2 Punkte)</p>
                    {% for game in aichIIGames %}
                        <div class="row">
                            <span style="color: #000000;font-size: 10px;">{{ game.matchDate|date('Y-m-d') }}</span>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-4">
                                <p>{{ game.hometeam.name|e }}<p>
                            </div>
                            <div class="col-xs-12 col-md-1">
                                <input type="text" name="betHometeamScore{{ game.id|e }}" class="form-control" maxlength="2" id="exampleInputGame{{ game.id|e }}" placeholder="Tore">
                            </div>
                            <div class="col-xs-12 col-md-1 text-center"> : </div>
                            <div class="col-xs-12 col-md-1">
                                <input type="text" name="betGuestteamScore{{ game.id|e }}" class="form-control" maxlength="2" id="exampleInputGame{{ game.id|e }}" placeholder="Tore">                    
                            </div>     
                            <div class="col-xs-12 col-md-1"></div>
                            <div class="col-xs-12 col-md-4">
                                <p>{{ game.guestteam.name|e }} <p>
                            </div>                            

                            <input type="hidden" name="gameId{{ game.id|e }}" id="inputQuestionId" value="{{ game.id|e }}">
                        </div>
                        <hr>
                    {% endfor %}  
                    <div class="f1-buttons">
                        <button type="button" class="btn btn-previous">Zurück</button>
                        <button type="button" class="btn btn-next">Weiter</button>
                    </div>                    
                </fieldset> 

                <fieldset>
                    <h4>Letzte Chance nochmal deine Antworten zu überprüfen</h4>
                    <div class="f1-buttons">
                        <button type="button" class="btn btn-previous">zurück</button>
                        <button type="submit" name="submit" class="btn btn-submit">Tipp abgeben</button>
                    </div>
                </fieldset>                    
            </form>
        </div>
    </div>  
{% endblock %}