<p>Hier sind die Tipps von {{ user.name }}</p>
<p>
    {% for answer in answers %}
        <a href="{{ path('questionDetail', {'questionId': answer.question.id}) }}">{{answer.question.question}}</a> <input class="form-control" id="disabledInput" type="text" placeholder="{{ answer.answer }}" disabled><br>
    {% endfor %}
</p>
<hr><hr>
<p>
    {% for bet in bets %}
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <p>{{ bet.game.hometeam.name|e }}<p>
        </div>
        <div class="col-xs-12 col-md-1">
            <input type="text" class="form-control" maxlength="2" id="disabledInput" placeholder="{{ bet.homeTeamScore }}" disabled>
        </div>
        <div class="col-xs-12 col-md-1 text-center"> : </div>
        <div class="col-xs-12 col-md-1">
            <input type="text" class="form-control" maxlength="2" id="disabledInput" placeholder="{{ bet.guestTeamScore }}" disabled>                    
        </div>     
        <div class="col-xs-12 col-md-1"></div>
        <div class="col-xs-12 col-md-4">
            <p>{{ bet.game.guestteam.name|e }} <p>
        </div>                            
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-4">
        </div>
        <div class="col-md-4">
        <a href="{{ path('gameDetail', { 'gameId': bet.game.id }) }}">Tippübersicht zu diesem Spiel</a>
        </div>
        <div class="col-xs-12 col-md-4">
        </div>        
    </div>
    <br><hr>

{% endfor %}
</p>            


