{% extends 'base.html.twig' %}

{% block body %}

    <div class="row" style="padding-top: 50px; padding-left: 25px; padding-right: 25px;">
        <p>Herzlich willkommen {{ name }}</p>
    </div>  

    <form method="POST" action="question">
        <input type="hidden" name="questionInitalIndex" id="inputQuestionInitalIndex" value="{{ questions[0].id|e }}">
        <input type="hidden" name="questionCount" id="inputQuestionCount" value="{{ questions|length }}">
        <hr>    

        <div class="row" style="padding-left: 25px; padding-right: 25px;">        
            {% for question in openQuestions %}
                <div class="form-group">
                    <label for="exampleInputQuestion{{ question.id|e }}">{{ question.question|e }}</label>
                    <input type="text" name="answer{{ question.id|e }}" class="form-control" id="exampleInputQuestion{{ question.id|e }}" placeholder="Antwort">
                    <input type="hidden" name="questionId{{ question.id|e }}" id="inputQuestionId" value="{{ question.id|e }}">
                </div>   
            {% endfor %}   
            <hr>
            {% for question in coachQuestions %}
                <div class="form-group">
                    <label for="exampleInputQuestion{{ question.id|e }}">{{ question.question|e }}</label>
                    <select class="form-control" name="answer{{ question.id|e }}">
                        <option>Bitte auswählen</option>
                        {% for answer in question.possibleAnswers %}
                            <option value="{{ answer.id|e }}">{{ answer.answer|e }}</option>
                        {% endfor %}           
                    </select> 
                    <input type="hidden" name="questionId{{ question.id|e }}" id="inputQuestionId" value="{{ question.id|e }}">
                </div>
            {% endfor %}   
            <hr>
            {% for question in selectBuli1Questions %}
                <div class="form-group">
                    <label for="exampleInputQuestion{{ question.id|e }}">{{ question.question|e }}</label>
                    <select class="form-control" name="answer{{ question.id|e }}">
                        <option>Bitte auswählen</option>
                        {% for team in buliTeams %}
                            <option value="{{ team.id|e }}">{{ team.name|e }}</option>
                        {% endfor %}           
                    </select> 
                    <input type="hidden" name="questionId{{ question.id|e }}" id="inputQuestionId" value="{{ question.id|e }}">
                </div>
            {% endfor %}   
            <hr>
            {% for question in selectKreisligaQuestions %}
                <div class="form-group">
                    <label for="exampleInputQuestion{{ question.id|e }}">{{ question.question|e }}</label>
                    <select class="form-control" name="answer{{ question.id|e }}">
                        <option>Bitte auswählen</option>
                        {% for team in kreisligaTeams %}
                            <option value="{{ team.id|e }}">{{ team.name|e }}</option>
                        {% endfor %}           
                    </select> 
                    <input type="hidden" name="questionId{{ question.id|e }}" id="inputQuestionId" value="{{ question.id|e }}">
                </div>
            {% endfor %}   
            <hr>
            {% for question in selectAklasseQuestions %}
                <div class="form-group">
                    <label for="exampleInputQuestion{{ question.id|e }}">{{ question.question|e }}</label>
                    <select class="form-control" name="answer{{ question.id|e }}">
                        <option>Bitte auswählen</option>
                        {% for team in aklassenTeams %}
                            <option value="{{ team.id|e }}">{{ team.name|e }}</option>
                        {% endfor %}           
                    </select> 
                    <input type="hidden" name="questionId{{ question.id|e }}" id="inputQuestionId" value="{{ question.id|e }}">
                </div>
            {% endfor %}   
            <hr>
            {% for question in placementAichQuestions %}
                <div class="form-group">
                    <label for="exampleInputQuestion{{ question.id|e }}">{{ question.question|e }}</label>
                    <select class="form-control" name="answer{{ question.id|e }}">
                        <option>Bitte auswählen</option>
                        {% for i in 1..16 %}
                            <option value="{{ i|e }}">{{ i|e }}</option>
                        {% endfor %}           
                    </select>  
                    <input type="hidden" name="questionId{{ question.id|e }}" id="inputQuestionId" value="{{ question.id|e }}">
                </div>
            {% endfor %}   
            <hr>
            {% for question in placementBuli1Questions %}
                <div class="form-group">
                    <label for="exampleInputQuestion{{ question.id|e }}">{{ question.question|e }}</label>
                    <select class="form-control" name="answer{{ question.id|e }}">
                        <option>Bitte auswählen</option>
                        {% for team in buliTeams %}
                            <option value="{{ team.id|e }}">{{ team.name|e }}</option>
                        {% endfor %}         
                    </select>                                      
                    <input type="hidden" name="questionId{{ question.id|e }}" id="inputQuestionId" value="{{ question.id|e }}">
                </div>
            {% endfor %}
            <hr>
            {% for question in placementBuli2Questions %}
                <div class="form-group">
                    <label for="exampleInputQuestion{{ question.id|e }}">{{ question.question|e }}</label>
                    <select class="form-control" name="answer{{ question.id }}">
                        <option>Bitte auswählen</option>
                        {% for team in buli2Teams %}
                            <option value="{{ team.id|e }}">{{ team.name|e }}</option>
                        {% endfor %}           
                    </select>                                     
                    <input type="hidden" name="questionId{{ question.id|e }}" id="inputQuestionId" value="{{ question.id|e }}">
                </div>
            {% endfor %} 
            <hr>
            {% for question in roundQuestions %}
                <div class="form-group">
                    <label for="exampleInputQuestion{{ question.id|e }}">{{ question.question|e }}</label>
                    <select class="form-control" name="answer{{ question.id }}">
                        <option>Bitte auswählen</option>
                        {% for round in rounds %}
                            <option value="{{ round.id|e }}">{{ round.name|e }}</option>
                        {% endfor %}           
                    </select>                                     
                    <input type="hidden" name="questionId{{ question.id|e }}" id="inputQuestionId" value="{{ question.id|e }}">
                </div>
            {% endfor %}             
            <hr>
        </div>
        <button type="submit" name="submit" class="btn btn-default">Tipps speichern</button>
    </form>    
{% endblock %}