{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-box">
            <form role="form" action="user" method="post" class="f1">
                <input type="hidden" name="questionInitalIndex" id="inputQuestionInitalIndex" value="{{ questions[0].id|e }}">
                <input type="hidden" name="questionCount" id="inputQuestionCount" value="{{ questions|length }}">
                <div class="f1-steps">
                    <div class="f1-progress">
                        <div class="f1-progress-line" data-now-value="8" data-number-of-steps="11" style="width: 8%;"></div>
                    </div>
                    <div class="f1-step active">
                        <div class="f1-step-icon"><i class="fa fa-user"></i></div>
                    </div>
                    <div class="f1-step">
                        <div class="f1-step-icon"><i class="fa fa-key"></i></div>
                    </div>
                    <div class="f1-step">
                        <div class="f1-step-icon"><i class="fa fa-twitter"></i></div>
                    </div>
                    <div class="f1-step">
                        <div class="f1-step-icon"><i class="fa fa-twitter"></i></div>
                    </div>
                    <div class="f1-step">
                        <div class="f1-step-icon"><i class="fa fa-twitter"></i></div>
                    </div>
                    <div class="f1-step">
                        <div class="f1-step-icon"><i class="fa fa-twitter"></i></div>
                    </div>
                    <div class="f1-step">
                        <div class="f1-step-icon"><i class="fa fa-twitter"></i></div>
                    </div>
                    <div class="f1-step">
                        <div class="f1-step-icon"><i class="fa fa-twitter"></i></div>
                    </div>
                    <div class="f1-step">
                        <div class="f1-step-icon"><i class="fa fa-twitter"></i></div>
                    </div>
                    <div class="f1-step">
                        <div class="f1-step-icon"><i class="fa fa-twitter"></i></div>
                    </div>
                    <div class="f1-step">
                        <div class="f1-step-icon"><i class="fa fa-twitter"></i></div>
                    </div>
                </div>                

                <fieldset>
                    <h4>Wer will nächster Aicher Tippchampion werden?</h4>
                    <div class="form-group">
                        <label class="sr-only" for="f1-first-name">Name</label>
                        <input type="text" name="name" placeholder="Name..." class="f1-first-name form-control" id="f1-first-name">
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="f1-email">E-Mail</label>
                        <input type="text" name="email" placeholder="E-Mail..." class="f1-email form-control" id="f1-email">
                    </div>
                    <div class="f1-buttons">
                        <button type="button" class="btn btn-next">Weiter</button>
                    </div>
                </fieldset>

                <fieldset>
                    <h4>Los gehts es mit ein paar offenen Fragen:</h4>
                    {% for question in openQuestions %}
                        <div class="form-group">
                            <label for="exampleInputQuestion{{ question.id|e }}">{{ question.question|e }}</label>
                            <input type="text" name="answer{{ question.id|e }}" class="form-control" id="exampleInputQuestion{{ question.id|e }}" placeholder="Antwort">
                            <input type="hidden" name="questionId{{ question.id|e }}" id="inputQuestionId" value="{{ question.id|e }}">
                        </div>   
                    {% endfor %} 
                    <div class="f1-buttons">
                        <button type="button" class="btn btn-previous">Zurück</button>
                        <button type="button" class="btn btn-next">Weiter</button>
                    </div>                    
                </fieldset>

                <fieldset>
                    <h4>Beckenbauer, Löw oder Guardiola?</h4>
                    {% for question in coachQuestions %}
                        <div class="form-group">
                            <label for="exampleInputQuestion{{ question.id|e }}">{{ question.question|e }}</label>
                            <select class="form-control" name="answer{{ question.id|e }}">
                                <option>Bitte auswählen</option>
                                {% for answer in question.possibleAnswers %}
                                    <option value="{{ answer.id|e }}">{{ answer.answer|e }}</option>
                                {% endfor %}           
                            </select> 
                            <input type="hidden" name="questionId{{ question.id|e }}" id="inputQuestionId" value="{{ question.id|e }}">
                        </div>
                    {% endfor %}   
                    <div class="f1-buttons">
                        <button type="button" class="btn btn-previous">Zurück</button>
                        <button type="button" class="btn btn-next">Weiter</button>
                    </div>                    
                </fieldset>                    

                <fieldset>
                    <h4>Werder Bremen sicher nicht!</h4>
                    {% for question in selectBuli1Questions %}
                        <div class="form-group">
                            <label for="exampleInputQuestion{{ question.id|e }}">{{ question.question|e }}</label>
                            <select class="form-control" name="answer{{ question.id|e }}">
                                <option>Bitte auswählen</option>
                                {% for team in buliTeams %}
                                    <option value="{{ team.id|e }}">{{ team.name|e }}</option>
                                {% endfor %}           
                            </select> 
                            <input type="hidden" name="questionId{{ question.id|e }}" id="inputQuestionId" value="{{ question.id|e }}">
                        </div>
                    {% endfor %}  
                    <div class="f1-buttons">
                        <button type="button" class="btn btn-previous">Zurück</button>
                        <button type="button" class="btn btn-next">Weiter</button>
                    </div>                    
                </fieldset>  

                <fieldset>
                    <h4>Und immer, immer wieder...</h4>
                    {% for question in selectKreisligaQuestions %}
                        <div class="form-group">
                            <label for="exampleInputQuestion{{ question.id|e }}">{{ question.question|e }}</label>
                            <select class="form-control" name="answer{{ question.id|e }}">
                                <option>Bitte auswählen</option>
                                {% for team in kreisligaTeams %}
                                    <option value="{{ team.id|e }}">{{ team.name|e }}</option>
                                {% endfor %}           
                            </select> 
                            <input type="hidden" name="questionId{{ question.id|e }}" id="inputQuestionId" value="{{ question.id|e }}">
                        </div>
                    {% endfor %}  
                    <div class="f1-buttons">
                        <button type="button" class="btn btn-previous">Zurück</button>
                        <button type="button" class="btn btn-next">Weiter</button>
                    </div>                    
                </fieldset>   

                <fieldset>
                    <h4>Angekommen in der Buchstabenliga</h4>
                    {% for question in selectAklasseQuestions %}
                        <div class="form-group">
                            <label for="exampleInputQuestion{{ question.id|e }}">{{ question.question|e }}</label>
                            <select class="form-control" name="answer{{ question.id|e }}">
                                <option>Bitte auswählen</option>
                                {% for team in aklassenTeams %}
                                    <option value="{{ team.id|e }}">{{ team.name|e }}</option>
                                {% endfor %}           
                            </select> 
                            <input type="hidden" name="questionId{{ question.id|e }}" id="inputQuestionId" value="{{ question.id|e }}">
                        </div>
                    {% endfor %}  
                    <div class="f1-buttons">
                        <button type="button" class="btn btn-previous">Zurück</button>
                        <button type="button" class="btn btn-next">Weiter</button>
                    </div>                    
                </fieldset>  

                <fieldset>
                    <h4>Oacher Platzierung</h4>
                    {% for question in placementAichQuestions %}
                        <div class="form-group">
                            <label for="exampleInputQuestion{{ question.id|e }}">{{ question.question|e }}</label>
                            <select class="form-control" name="answer{{ question.id|e }}">
                                <option>Bitte auswählen</option>
                                {% for i in 1..16 %}
                                    <option value="{{ i|e }}">{{ i|e }}</option>
                                {% endfor %}           
                            </select>  
                            <input type="hidden" name="questionId{{ question.id|e }}" id="inputQuestionId" value="{{ question.id|e }}">
                        </div>
                    {% endfor %}  
                    <div class="f1-buttons">
                        <button type="button" class="btn btn-previous">Zurück</button>
                        <button type="button" class="btn btn-next">Weiter</button>
                    </div>                    
                </fieldset>                       

                <fieldset>
                    <h4>Endplatzierung 1.Bundesliga</h4>
                    {% for question in placementBuli1Questions %}
                        <div class="form-group">
                            <label for="exampleInputQuestion{{ question.id|e }}">{{ question.question|e }}</label>
                            <select class="form-control" name="answer{{ question.id|e }}">
                                <option>Bitte auswählen</option>
                                {% for team in buliTeams %}
                                    <option value="{{ team.id|e }}">{{ team.name|e }}</option>
                                {% endfor %}         
                            </select>                                      
                            <input type="hidden" name="questionId{{ question.id|e }}" id="inputQuestionId" value="{{ question.id|e }}">
                        </div>
                    {% endfor %} 
                    <div class="f1-buttons">
                        <button type="button" class="btn btn-previous">Zurück</button>
                        <button type="button" class="btn btn-next">Weiter</button>
                    </div>                    
                </fieldset>  

                <fieldset>
                    <h4>Endplatzierung 2.Bundesliga</h4>
                    {% for question in placementBuli2Questions %}
                        <div class="form-group">
                            <label for="exampleInputQuestion{{ question.id|e }}">{{ question.question|e }}</label>
                            <select class="form-control" name="answer{{ question.id }}">
                                <option>Bitte auswählen</option>
                                {% for team in buli2Teams %}
                                    <option value="{{ team.id|e }}">{{ team.name|e }}</option>
                                {% endfor %}           
                            </select>                                     
                            <input type="hidden" name="questionId{{ question.id|e }}" id="inputQuestionId" value="{{ question.id|e }}">
                        </div>
                    {% endfor %} 
                    <div class="f1-buttons">
                        <button type="button" class="btn btn-previous">Zurück</button>
                        <button type="button" class="btn btn-next">Weiter</button>
                    </div>                    
                </fieldset>                      

                <fieldset>
                    <h4>Wie weit kommen die deutschen Mannschaften im Europapokal?</h4>
                    {% for question in roundQuestions %}
                        <div class="form-group">
                            <label for="exampleInputQuestion{{ question.id|e }}">{{ question.question|e }}</label>
                            <select class="form-control" name="answer{{ question.id }}">
                                <option>Bitte auswählen</option>
                                {% for round in rounds %}
                                    <option value="{{ round.id|e }}">{{ round.name|e }}</option>
                                {% endfor %}           
                            </select>                                     
                            <input type="hidden" name="questionId{{ question.id|e }}" id="inputQuestionId" value="{{ question.id|e }}">
                        </div>
                    {% endfor %}  
                    <div class="f1-buttons">
                        <button type="button" class="btn btn-previous">Zurück</button>
                        <button type="button" class="btn btn-next">Weiter</button>
                    </div>                    
                </fieldset>                      

                <fieldset>
                    <h4>Letzte Chance nochmal deine Antworten zu überprüfen</h4>
                    <div class="f1-buttons">
                        <button type="button" class="btn btn-previous">zurück</button>
                        <button type="submit" name="submit" class="btn btn-submit">Tipp abgeben</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}